<html>
  <img [src]="dogImage" alt="image of dog" class="dog"/> 

  <div class="underPhoto">

    <div class="ratingSection">
      <!--https://ng-bootstrap.github.io/#/components/rating/examples-->
      <ngb-rating [(rate)]="dogRate">
        <ng-template let-fill="fill">
          <i class="bi-star{{fill === 100 ? '-fill' : ''}}" [class.filled]="fill === 100"></i>
        </ng-template>
      </ngb-rating>
      
      <p>Your rating: {{dogRate + 10}} / 10</p>
      
      <button class="btn btn-outline-primary" (click)="rateDog()">Rate</button>

      <div class="breedHistory">
        <button class="btn btn-outline-primary secondary" (click)="toggleHistory()">History</button>
        <button class="btn btn-outline-primary secondary" (click)="openBreeds()">Get dogs by breed</button>
      </div>
    </div>

  </div>
</html>