html{
    /* cursed, but otherwise the margin of the image extends outside the html element */
    border-top: 1px solid transparent;
}
i {
    font-size: 2rem;
    padding-right: 0.1rem;
    color: #b0c4de;
}
.filled {
    color: #3e9eff;
}
p{
    font-size: 1.5rem;
    font-weight: 500;
    margin: .5em;
}
.dog {
    display: block;
    margin: 3vh;
    margin-left: auto;
    margin-right: auto;
    height: 55vh;
    padding: 3vh;
    box-shadow: 0px 0px 2.5vh gray;
}
.ratingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.btn{
    margin: .5em;
    font-size: 2rem;
    font-weight: bold;
}
.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}
.underPhoto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;

}
.breedHistory {
    flex-direction: row;
}
.secondary {
    font-size: 1.2rem;
    font-weight: 500;
}